$basefont: 'PT Sans', sans-serif;
$accentfont: 'Roboto', sans-serif;
$buttonfont: 'Poppins', sans-serif; 

$darkbg: #1a171a;

$dkwhite: #d9d9d9;
$ltgrey: #c8c8c8;
$mdgrey: #9f9f9f;
$dkgrey: #7f7e7f;

$accent: #0ce682;

$fontgradient: linear-gradient(to bottom, rgba(26, 23, 26, 0.05) 0%, rgba(26, 23, 26, 0.01) 100%);